@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Orbit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 1rem;
  transition: background-color 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

body, html {
  scroll-behavior: smooth;

}
